html body {
    background: url(https://p7.hiclipart.com/preview/900/971/621/internet-meme-rage-comic-pol-antifa-meme-thumbnail.jpg);
}

/* body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.cursor {
    width: 30px;
    height: 30px;
    cursor: url('http://www.rw-designer.com/cursor-view/96973.png'), auto;
}

button {
    cursor: pointer;
} */

